html{
    background-image: linear-gradient(45deg, rgb(252, 209, 5) 0%, rgb(252, 209, 5) 6%,rgb(246, 177, 19) 6%, rgb(246, 177, 19) 19%,rgb(240, 146, 32) 19%, rgb(240, 146, 32) 41%,rgb(235, 114, 46) 41%, rgb(235, 114, 46) 55%,rgb(229, 83, 59) 55%, rgb(229, 83, 59) 94%,rgb(223, 51, 73) 94%, rgb(223, 51, 73) 100%);
}



#main{
    display: grid;
    justify-items: center;
    grid-gap: 3vh 1vw;

}
/*******************************************************************/
#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 340;
    width: 60%;
    text-align: center;
    color: #4E1319;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.616);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    text-shadow: 9px 11px 11px black;
}
/*******************************************************************/
#img-div{
    box-shadow: 0 0 20px 7px rgba(223, 102, 98, 0.747);
    background-color: #ffffff1f;

    display: grid;
    padding: 1.5%;
    border-radius: 7%;
    width: 40%;
    grid-row-gap: 1vh;
    grid-template: 1/2;
    grid-template-areas: 
    "image"
    "caption";
    justify-items: center;
}
/*******************************************************************/
#image{
    grid-area: "image";
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}
#img-caption{
    font-family: Arial, Helvetica, sans-serif;
    grid-area: "caption";
}
/*******************************************************************/
#tribute-info{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    color: #4E1319;
}
/*******************************************************************/
#tribute-link{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgba(45, 11, 30, 0.678);
}
#tribute-link:hover{
    color: #2D0B1E;
    text-decoration-line: underline;
}
hr{
    visibility: hidden;
}
p{
    font-size: 1.1em;
    font-weight: 250;
}

@media (orientation: protrait){
    #img-div{
        width: 65%;
    }
}